#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "app.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION     1,1,0,0
  PRODUCTVERSION  1,1,0,0
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
  FILEFLAGS       0
  FILEOS          VOS_NT_WINDOWS32
  FILETYPE        VFT_APP
  FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040E04B0"
    BEGIN
      VALUE "CompanyName",      "SubCoderHUN"
      VALUE "FileDescription",  "CRTBender - CRT geometry correction"
      VALUE "FileVersion",      "1.1.0.0"
      VALUE "InternalName",     "CRTBender"
      VALUE "OriginalFilename", "CRTBender.exe"
      VALUE "ProductName",      "CRTBender"
      VALUE "Comments",         "https://github.com/SubCoderHUN/CRTBender"
      VALUE "ProductVersion",   "1.1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040E, 1200
  END
END
